CREATE TABLE djs (ID INT NOT NULL PRIMARY KEY , Class VARCHAR(255), AdminCode VARCHAR(255), Center VARCHAR(255), Population VARCHAR(255), LinkID VARCHAR(255), Side VARCHAR(255), Dummy VARCHAR(255), Name VARCHAR(255), Name_1 VARCHAR(255), POINT_X DOUBLE(19,11), POINT_Y DOUBLE(19,11));
ALTER TABLE djs ADD the_geom GEOMETRY; 
INSERT INTO djs VALUES ('0','2','510100','2','1311','6609176','N','0','成都市',NULL,'104.06231721500','30.57270174760',GeometryFromText('POINT (104.062316999999993 30.572702000000000)') );

INSERT INTO djs VALUES ('1','2','511400','3','351','88871786','N','0','眉山市',NULL,'103.84637703900','30.07842122370',GeometryFromText('POINT (103.846377000000004 30.078420999999999)') );

INSERT INTO djs VALUES ('2','2','512000','3','357','88748863','N','0','资阳市',NULL,'104.62555274200','30.13141143880',GeometryFromText('POINT (104.625552999999996 30.131411000000000)') );


















